@font-face {
    font-family: "OngleleafJandB";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafJandB/OngleleafJandB.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafJandB/OngleleafJandB.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafJandB/OngleleafJandB.ttf") format("truetype");
    font-display: swap;
}

.OngleleafJandB {
    font-family: "OngleleafJandB";
}
